<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <div class="wrapper">
      <!-- FiltersList component -->
      <h3 class="title-form">Category</h3>
      <ul class="list">
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Monitors">
          <label for="vehicle" class="label">Monitors</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Laptops">
          <label for="vehicle" class="label">Laptops</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Video cards">
          <label for="vehicle" class="label">Video cards</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Gaming keyboards">
          <label for="vehicle" class="label">Gaming keyboards</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Computer mouse">
          <label for="vehicle" class="label">Computer mouse</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="SSD">
          <label for="vehicle" class="label">SSD</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Sound cards">
          <label for="vehicle" class="label">Sound cards</label>
        </li>
        <li class="form">
          <input type="checkbox" class="vahicle" name="vehicle" value="Ram">
          <label for="vehicle" class="label">Ram</label>
        </li>
      </ul>
    </div>
  </main>
</body>

</html>
