<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Cart component</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <main>
    <div class="root">
      <!-- Cart component -->
      <div class="cart">
        <div class="close">
          <i class="bi bi-x-lg"></i>
        </div>
        <div class="cart-list">
          <div class="item-preview">
            <img src="./Rectangle.svg" alt="laptop" class="img">
          </div>
          <div class="item-preview name">Ноутбук Acer Aspire 3 A315-57G-336G (NX.HZREU.01S) Charcoal Black</div>
          <div class="item-preview counter">
            <button class="counter-btn">
              <i class="bi bi-dash-circle"></i>
            </button>
            1
            <button class="counter-btn">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <div class="item-preview price">15999</div>
        </div>
        <div class="cart-list">
          <div class="item-preview">
            <img src="./Rectangle.svg" alt="laptop" class="img">
          </div>
          <div class="item-preview name">Ноутбук Acer Aspire 7 A715-41G-R9KP (NH.Q8QEU.00L) Charcoal Black</div>
          <div class="item-preview counter">
            <button class="counter-btn">
              <i class="bi bi-dash-circle"></i>
            </button>
            1
            <button class="counter-btn">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <div class="item-preview price">21500</div>
        </div>
        <div class="cart-list">
          <div class="item-preview">
            <img src="./Rectangle.svg" alt="laptop" class="img">
          </div>
          <div class="item-preview name">Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</div>
          <div class="item-preview counter">
            <button class="counter-btn">
              <i class="bi bi-dash-circle"></i>
            </button>
            1
            <button class="counter-btn">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <div class="item-preview price">22999</div>
        </div>
        <div class="cart-list">
          <div class="item-preview">
            <img src="./Rectangle.svg" alt="laptop" class="img">
          </div>
          <div class="item-preview name">Ноутбук Acer Nitro 5 AN515-55-56WH (NH.Q7PEU.00L) Obsidian Black</div>
          <div class="item-preview counter">
            <button class="counter-btn">
              <i class="bi bi-dash-circle"></i>
            </button>
            1
            <button class="counter-btn">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <div class="item-preview price">28999</div>
        </div>
        <div class="cart-list">
          <div class="item-preview">
            <img src="./Rectangle.svg" alt="laptop" class="img">
          </div>
          <div class="item-preview name">Ноутбук Acer Aspire 7 A715-75G-57LR (NH.Q87EU.006) Charcoal Black</div>
          <div class="item-preview counter">
            <button class="counter-btn">
              <i class="bi bi-dash-circle"></i>
            </button>
            1
            <button class="counter-btn">
              <i class="bi bi-plus-circle"></i>
            </button>
          </div>
          <div class="item-preview price">22500</div>
        </div>
        <div class="total">Total: 111997</div>
        <div class="order">
          <button class="btn-order">Order</button>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
